
.sideBar{
    width: 15vw;
}

.mainContent{
    width: 81.4vw;
}

.card{
    box-sizing: border-box;
    position: relative;
    width: 17rem;
    height: 16rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(27, 43, 170, 0.2);
    margin-left: 1rem;
}
.card:hover{
    box-shadow: inset;
}

.thumbnail:hover{
    filter: contrast(40%);
}

.thumbnail{
    object-fit: contain;
    width: 100%;
    height: auto;
}


.data{
    text-align: start;
    width: 95%;
    color: Black;
}

.view{
    position: absolute;
    bottom: 0;
    margin:4px 0px;
    padding: 4px;
}
.creator{
    background-color:rgb(210, 210, 248);
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
    border-radius: 4px;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    gap: 1.5rem;
}

.searchbar{
    padding: 8px;
}

.active, .cats:hover{
    background-color: rgb(65, 104, 210);
    color: white;
}

@media only screen and (max-width: 600px){
    .card{
        width:23rem;
        height:18rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .card{
        position: relative;
        width: 30rem;
        height: 22rem;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(27, 43, 170, 0.2);
    }
    .mainContent{
        width: 81.4vw;
        left: 0;
        padding: 4.5rem;
    }
}