.delete{
    color: red;
    position: absolute;
    top: 0;
    right: 0;margin: 4px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}

.btns{
    
    color: navy;
    font-size: 1.5rem;
    border-color: navy;
    border-radius: 1rem;
}
