.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 10%; 
    padding-left: 45%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: flex;
  }

  .P-card{
      /* border: 1px solid black; */
      width: 18rem;
      height: 10rem;
      padding: 7px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-radius: 4px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .pTitle{
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    opacity: .4;
  }

  .P-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(27, 43, 170, 0.2);
  }

  .content{
      border: 1px solid black;
      background-color: white;
      color: black;
      width: max-content;
      padding: 10px;
      height: 7.5rem;
      gap: 5px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  .inp{
      padding: 2px;
      border-radius: 4px;
  }

  .btns{
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
  }

  .play-btn{
    margin-top: .5rem;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    border-color: navy;
    color: navy;
      
  }

  .btns:hover{
      color: red;
  }

  @media only screen and (max-width: 600px){
      .P-card{
          width: 25rem;
      }

      .modal{
        padding-top: 40%;
        padding-left: 28%;
      }
  }


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .modal{
        position: fixed;
        z-index: 1;
        padding-top: 30%;
        padding-left: 30%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        display: flex;
    }

    .inp{
        width: 100%;
        height: 2.4rem;
    }

    .P-card{
        width: 30rem;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    

}

  