.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
    margin-top: 2rem;
    padding-left: 4px;
    text-align: start;
    text-decoration: none;
    position: fixed;
    background-color: rgb(203, 225, 245);
    height: 50%;
    border-radius: 5px;
    padding: .7rem;
    margin-left: .7rem;
    width: 13rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.active{
    color:white;
    background-color: blue;
    padding: 3px;
    border-radius: 5px;
}

.inactive{
    color: blue;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
  }

.sidebarGap{
    gap: 1.6rem;
}

@media only screen and (max-width: 1287px){
    .mob{
        display: none;
    }
    .sidebar{
        width: max-content;
    }
}

@media only screen and (max-width: 850px){
    .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 17rem;
        margin-top: 2rem;
        padding-left: 4px;
        text-align: start;
        text-decoration: none;
        position: fixed;
        font-size: 12px;
    }
}