*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.simple-flex-row{
    display: flex;
    flex-direction: row;
}

.flex-rowns{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-level{
    display: flex;
    align-items: center;
}
.gap{
    gap: 6px;
}

.margin{
    margin-top: .3rem;
}
.logo{
    font-size: 35px;
    /* color: white; */
    color:navy
}


.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn{
    padding: 7px;
    color: white;
    background-color: navy;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.msg{
    width: 100%;
}

.deleteIcon{
    background-color: white;
    border-radius: 50%;
}

.cardBlock{
    /* background-color: rgb(203, 225, 245); */
    padding-top: 1rem;
    min-height: 80vh;
    border-radius: 6px;
    margin-top: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}