
.img{
    object-fit: contain;
    height: 80vh;
    width: 60vw;
}

.loginForm{
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79.5vh;
}
.scontent{
    border: 1px solid black;
    height: 75%;
    box-sizing: border-box;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .7rem;
}
.lContent{
    /* background-color: aqua; */
    border: 1px solid black;
    height: 60%;
    box-sizing: border-box;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .7rem;
}
.btnL{
    width: 100%;
    padding: .3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.inp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs{
    padding: .3rem;
    width: 96%;
    border-radius: 1rem;
}

@media only screen and (max-width: 600px){
    .img{
        display: none;
    }

    .loginForm{
        margin-left: 4rem;
    }
}

